:root {
  /* Spacing */
  --height: 75vh;
  --vAlign: center;
  --hAlign: flex-start;

  /* Colors */
  --color-primary: #394a59;
  --color-primary-light: #59758d;
  --color-secondary: #36bf7f;
  --color-secondary-light: #75d3a7;
  --color-secondary-dark: #1c5e3e;
  --color-secondary-pale: #def4e9;
  --color-accent: #d96666;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #33a06d;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: #75d3a7;
}

nav {
  width: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/* ---------- Buttons ---------- */

.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #005b41;
  border: 0.125rem solid #005b41;
  color: #fff;
  border-radius: 0.25em;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: #33a06d;
  border-color: #33a06d;
  color: #fff;
}

.btn--secondary {
  background-color: #32d3d8;
  border-color: #32d3d8;
  color: #000;
  font-weight: 500;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: #75d3a7;
  border-color: #75d3a7;
  color: #000;
}

/* ---------- Typography ---------- */

h1 {
  font-size: 2.019rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.756rem;
  line-height: 1.3;
}

h3 {
  color: var(--color-secondary-dark);
  font-size: 1.525rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.325rem;
  color: var(--color-accent);
  margin: 0;
  line-height: 1.3;
}

h5 {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.3;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 45em) {
  h1 {
    font-size: 2.481rem;
  }
  h2 {
    font-size: 2.069rem;
  }
  h3 {
    font-size: 1.725rem;
  }
  h4 {
    font-size: 1.438rem;
  }
  h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
    font-size: 3.056rem;
  }
  h2 {
    font-size: 2.444rem;
  }
  h3 {
    font-size: 1.956rem;
    zoom: 80%;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

/* To Top */

.to-top {
  position: fixed;
  bottom: -0.5rem;
  right: 1.5rem;
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-pale);
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  box-shadow: var(--shadow);
  translate: 0 100%;
  transition: translate var(--transition), bottom var(--transition);
}

.to-top.visible {
  translate: 0;
}

.to-top:hover,
.to-top:focus-visible {
  bottom: 0;
  color: #fff;
  translate: 0;
}

/* Effects & Animations */

.grow-effect {
  transition: all 0.1s ease-in-out;
}

.grow-effect:hover {
  transform: scale(1.02);
}

@-webkit-keyframes push-on-hover {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push-on-hover {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.push-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.push-on-hover:hover,
.push-on-hover:focus,
.push-on-hover:active {
  -webkit-animation-name: push-on-hover;
  animation-name: push-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* ---------- NAVBAR ---------- */

.navbar {
  background-color: #000;
  color: #fff;
  border-top: 0.2rem solid #005b41;
}

.navbar .container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  gap: 1.5rem;
  margin-top: 1rem;
  align-items: center;
}

.navbar__icon {
  width: 10rem;
}

.navbar__list {
  margin: 0;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.navbar__link:hover {
  color: #000;
  background-color: #fff;
  text-shadow: none;
}

.navbar__link:focus {
  outline: none;
}

/* Medium to Large Screens Sizes */

@media only screen and (min-width: 45em) {
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    display: flex;
  }

  .navbar__icon {
    margin-left: 1.5rem;
  }

  .navbar__link {
    padding: 1.5rem;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  nav {
    width: auto;
  }
}

/* ---------- BANNER ---------- */

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 2),
      rgba(0, 0, 0, 0.1)
    ),
    url(../images/hero-banner.jpg);
  background-position: center;
  background-size: cover;
  border-color: transparent;
}

.banner .container {
  display: flex;
  min-height: 40vh;
  align-items: var(--vAlign);
  justify-content: var(--hAlign);
  padding: 3rem 1.5rem;
}

.banner__content {
  width: min(45em, 100%);
  text-align: center;
  color: #fff;
}

.banner__text {
  color: #d3d3d3;
}

.banner__title {
  font-size: clamp(2.019rem, 4cqi, 3.056rem);
}

/* ------ Banner for Article ------ */
.banner--article {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 2),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/blog-image-adventurers.jpg);
}

/* ------ Medium Size Screens ------ */
@media only screen and (min-width: 45em) {
  .banner .container {
    display: flex;
    min-height: var(--height);
    align-items: var(--vAlign);
  }

  .banner__content {
    text-align: left;
  }
}

/* ------ Large Size Screens ------ */
@media only screen and (min-width: 60em) {
  .banner__content {
    text-align: left;
  }

  .banner .container {
    display: flex;
    min-height: var(--height);
    align-items: var(--vAlign);
  }
}

/* ---------------- CARD GROUP ---------------- */

.card-group .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.card-group__title {
  text-align: center;
  font-size: clamp(1.756rem, 1cqi, 2.444rem);
}

.card-group {
  background-color: #def4e9;
  padding: 3rem 1rem 4rem 1rem;
}

.card__content {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem #0002, 0 0.25rem 0.75rem #0002;
  overflow: hidden;
  color: inherit;
}

.card__title {
  color: #490303;
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 1.3;
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: clamp(1.525rem, 1cqi, 1.956rem);
}

.card__image {
  display: flex;
  justify-content: center;
  background-color: #1c0221;
}

.card__image img {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  padding: 0.5rem 1rem;
  margin: 0;
  color: #000;
}

/* ------ Medium Size Screens ------ */
@media only screen and (min-width: 45em) {
  .card-group .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__content--left {
    text-align: left;
  }

  .card-group__title {
    grid-column: 1/3;
  }
}

/* ------ Large Size Screens ------ */
@media only screen and (min-width: 60em) {
  .card-group .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-group__title {
    grid-column: 1/4;
  }
}

/* ---------------- SPLIT IMAGE CONTENT ---------------- */

.split-image .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  display: grid;
  gap: 3rem;
  text-align: center;
}

.split-image__image {
  aspect-ratio: 1 / 1;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.split-image__image img {
  object-fit: cover;
}

.split-image__title {
  font-size: clamp(1.756rem, 2cqi, 2.444rem);
}

/* ------ Medium Size Screens ------ */
@media only screen and (min-width: 45em) {
  .split-image .container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

/* ---------- FOOTER ---------- */

.footer {
  background-color: #000;
  color: #fff;
  border-bottom: 0.2rem solid #005b41;
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__icon {
  width: 10rem;
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid #005b41;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
}

.footer__legal {
  list-style-type: none;
  gap: 0.75rem;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 1.5rem;
}

.footer__link,
.footer__copyright {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus .footer__copyright:hover,
.footer__copyright:focus {
  color: #36bf7f;
}

/* ------ Medium & Large Size Screens ------ */
@media only screen and (min-width: 45em) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    flex: 2 0;
    align-self: flex-start;
  }

  .footer__nav,
  .footer__legal {
    flex: 1 0;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__legal {
    list-style-type: none;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 1.5rem;
  }
}

/* ---------- ARTICLE ---------- */

.article .container {
  display: grid;
}

.standout__title {
  border-bottom: 0.2rem #005b41 solid;
  border-image: linear-gradient(to right, #005b41 20%, transparent 20%) 100% 1;
  padding: 1rem 0 0 1rem;
}

.article__subtitle {
  border-bottom: 0.2rem #005b41 solid;
  border-image: linear-gradient(to right, #005b41 20%, transparent 20%) 100% 1;
  padding: 1rem 0 0 0;
}

.standout {
  background-color: #d7cece;
  border-radius: 1rem;
  border-bottom: 0.2rem #005b41 solid;
  padding: 1rem;
}

.article__body img {
  border-radius: 1rem;
}

.article__content {
  padding: 1rem;
}

.article__content h2 {
  font-size: clamp(1.756rem, 1cqi, 2.444rem);
}

/* ---------- ARTICLE RELATED POSTS ---------- */

.related--articles {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ece6e6;
  border: #000 0.3rem solid;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.tag {
  background-color: #005b41;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 45em) {
  .article .container {
    grid-template-columns: 3fr 1fr;
  }

  .related--articles h2 {
    font-size: clamp(1.525rem, 1cqi, 1.956rem);
  }
}
