:root {
  --height: 75vh;
  --vAlign: center;
  --hAlign: flex-start;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: sans-serif, Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36bf7f;
}

a:hover,
a:focus-visible {
  color: #d96666;
}

nav {
  width: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/* ---------- Default Buttons ---------- */

.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #005b41;
  border: 0.125rem solid #005b41;
  color: #fff;
  border-radius: 0.25em;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: #33a06d;
  border-color: #33a06d;
  color: #fff;
}

.btn--secondary {
  background-color: #32d3d8;
  border-color: #32d3d8;
  color: #000;
  font-weight: 500;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: #75d3a7;
  border-color: #75d3a7;
  color: #000;
}
/* CSS EFFECTS */

.grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.02);
}

@-webkit-keyframes push-on-hover {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push-on-hover {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.push-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.push-on-hover:hover,
.push-on-hover:focus,
.push-on-hover:active {
  -webkit-animation-name: push-on-hover;
  animation-name: push-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* ---------- Nav Default Styles ---------- */

.navbar {
  background-color: #000;
  color: #fff;
  border-top: 0.2rem solid #005b41;
}

.navbar .container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  gap: 1.5rem;
  margin-top: 1rem;
  align-items: center;
}

.navbar__icon {
  width: 10rem;
}

.navbar__list {
  margin: 0;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.navbar__link:hover {
  color: #000;
  background-color: #fff;
  text-shadow: none;
}

.navbar__link:focus {
  outline: none;
}

.navbar__title {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
  /*  */
}

/* Medium to Large Screens Sizes */
/* ---------- Nav Default Styles ---------- */

@media only screen and (min-width: 45em) {
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    display: flex;
  }

  .navbar__icon {
    margin-left: 1.5rem;
  }

  .navbar__link {
    padding: 1.5rem;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  nav {
    width: auto;
  }
}

/* ---------- BANNER STYLES ---------- */

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 2),
      rgba(0, 0, 0, 0.1)
    ),
    url(../images/hero-banner.jpg);
  background-position: center;
  background-size: cover;
  border-color: transparent;
}

.banner .container {
  display: flex;
  min-height: 40vh;
  align-items: var(--vAlign);
  justify-content: var(--hAlign);
  padding: 3rem 1.5rem;
}

.banner__content {
  width: min(41em, 100%);
}

.banner__title {
  font-size: 1.777rem;
  line-height: 1.3;
  color: #ffffff;
}

.banner__text {
  font-size: 1.1093rem;
  color: #d3d3d3;
}

/* Medium Screen Size */
/* ---------- BANNER STYLES ---------- */

@media only screen and (min-width: 45em) {
  .banner__title {
    font-size: 2.369rem;
  }

  .banner .container {
    display: flex;
    min-height: var(--height);
    align-items: var(--vAlign);
  }

  .banner__text {
    font-size: 1.2rem;
  }
}

/* Large Screen Size */
/* ---------- BANNER STYLES ---------- */

@media only screen and (min-width: 60em) {
  .banner__title {
    font-size: 3.157rem;
  }

  .banner .container {
    display: flex;
    min-height: var(--height);
    align-items: var(--vAlign);
  }
  .banner__text,
  .btn--large {
    font-size: 1.3rem;
  }
}

/* ---------------- Card Group Styling ---------------- */

.card-group .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.card-group {
  background-color: #def4e9;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card__content {
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem #0002, 0 0.25rem 0.75rem #0002;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.card__title {
  color: #490303;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.266rem;
  line-height: 1.3;
  padding-top: 1rem;
  padding-bottom: 0;
}

.card__image {
  display: flex;
  justify-content: center;
  background-color: #0e0a1b;
}

.card__image img {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  padding: 0.5rem 1rem;
  margin: 0;
  color: #000;
  justify-content: center;
}

/* ------ Medium Size Screens ------ */
/* ---------------- Card Group Styling ---------------- */
@media only screen and (min-width: 45em) {
  .card-group .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__title {
    font-size: 1.44rem;
  }

  .card-group__title {
    font-size: 1.728rem;
    grid-column: 1/3;
  }
}

/* ------ Large Size Screens ------ */
/* ---------------- Card Group Styling ---------------- */
@media only screen and (min-width: 60em) {
  .card-group .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__title {
    font-size: 1.563rem;
  }

  .card-group__title {
    font-size: 1.953rem;
    grid-column: 1/4;
  }
}

/* ---------------- Split Image Content Section ---------------- */

.image-content .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  display: grid;
  gap: 3rem;
}

.image-content__image {
  aspect-ratio: 1 / 1;
  display: flex;
}

.image-content__image img {
  object-fit: cover;
}

.image-content__title {
  font-size: 1.756rem;
  line-height: 1.3;
}

@media only screen and (min-width: 45em) {
  .image-content .container {
    grid-template-columns: 1fr 2fr;
  }

  .image-content__title {
    font-size: 2.069rem;
  }
}

@media only screen and (min-width: 60em) {
  .image-content .container {
    grid-template-columns: 1fr 1fr;
  }

  .image-content__title {
    font-size: 2.444rem;
  }
}

/* ---------- Footer Styles ---------- */

.footer {
  background-color: #000;
  color: #fff;
  border-bottom: 0.2rem solid #005b41;
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__icon {
  width: 10rem;
}

.footer__title {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid #005b41;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
}

.footer__legal {
  list-style-type: none;
  gap: 0.75rem;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 1.5rem;
  font-size: 0.856rem;
}

.footer__link,
.footer__privacy-policy,
.footer__terms-of-service,
.footer__copyright {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover,
.footer__privacy-policy:hover,
.footer__terms-of-service:hover,
.footer__link:focus,
.footer__privacy-policy:focus,
.footer__link:focus {
  color: #36bf7f;
}

@media only screen and (min-width: 45em) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    flex: 2 0;
    align-self: flex-start;
  }

  .footer__nav,
  .footer__legal {
    flex: 1 0;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__legal {
    list-style-type: none;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 1.5rem;
  }
}
